<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetail</servlet-name>
        <servlet-class>BookDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPerson</servlet-name>
        <servlet-class>AddPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRequest</servlet-name>
        <servlet-class>BookRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonBookRequest</servlet-name>
        <servlet-class>PersonBookRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnServlet</servlet-name>
        <servlet-class>ReturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetail</servlet-name>
        <url-pattern>/BookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPerson</servlet-name>
        <url-pattern>/AddPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRequest</servlet-name>
        <url-pattern>/BookRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonBookRequest</servlet-name>
        <url-pattern>/PersonBookRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnServlet</servlet-name>
        <url-pattern>/ReturnServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
